.urlLabel {
    width: 100%;
    margin: 3px auto;
    display: flex;
    border-radius: 3px;
    justify-content: space-between;
}

.reachable {
    composes: urlLabel;
    background: #00AC89;
}

.notReachable {
    composes: urlLabel;
    background: #F8B287;
}